h1 {
  text-align: center;
}

input, label {
  margin: 5px 5px;
}

.form-group {
  margin: 30px auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 45%;
}

#inputZip {
  width: 45%;
}

#inputState {
  margin-left: 5px;
  width: 45%;
}

#inputCountry {
  margin-left: 7px;
  width: 45%;
}
